<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">
<link href="https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
<link href="https://fonts.googleapis.com/css?family=Darker+Grotesque|Fira+Sans&display=swap" rel="stylesheet">

<title>About</title>
</head>
<body>
    <!-- header section -->
    <%-include('_header')%>
<!-- header section end -->


<!-- Crumb start -->
<section id="crumb">
    <div class="container">
        <h2>About us</h2>
        <ol class="breadcrumb">
            <li ><a href="">Home</a></li>
            <li class="disable">About Us</li>

        </ol>

    </div>
</section>
<!-- Crumb end -->

<!-- section start -->

<section id="benifits">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="tit text-center">Welcome to Safar!</h3>
                    <hr>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-1" >
                        <img src="/img/about.jpg" alt="" width="350px" height="350px" >
                    </div>
                    <div class="col-md-6">
                        <p class="text-justify"> To make a enjoyable trip, we have build a <b>Travel Blog Website, where a user can
                            upload an image, blog about their travel experience, expenses, etc.</b></p>
                        <p>2020 has come, maybe not with a bang as a lot of us may have hoped, but the world goes on and as such I have decided to extend this most beautiful travel blogs list even further with 6 new travel blogs to check out, bringing it to 20, a perfect number for the 2020 year. Without further ado, let's check out all the beautiful travel blogs out there.

                            As some of you may know, I have been in the design industry for the past 10 years working as a freelance designer in various companies while also running this blog. In fact, the majority of my income is mostly from my design freelance work over at The Pete Design.
                            
                            I value well-designed products and today, I want to dive down into the design of travel blogs and featured the best design travel blogs out there that take storytelling to the next level and hopefully inspire you to create an awesome travel blog of your own. </p>



                    </div>
                </div>
                
                
            </div>
        
            
            
        </div>
    </section>


    <!-- section end -->


    <section id="sub2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-center">We are commited with our services</h3>
                        <h4 class="text-center">Subscribe to our Newsletter to stay updated</h4>
                        
                            <div class="input-group">
                                
                                        <input type="email" name="" class="form-control" id="" placeholder="Enter your email">
                                        <span class="input-group-btn">
                                            <button class="btn btn-theme" style="background:black;"> </a> Subscribe</button>
                                        </span>
                                        
    
                                </div>
                            
                            </div>
    
                        
                    </div>
                </div>
    
            
        </section>

<!-- team start -->

        <section id="team">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="tit text-center">Out Best in Class Services</h3>
                            <hr>
                        </div>
                        
                        <div class="row" style="margin-top: 100px">
                                <div class="col-md-3 col-md-offset-1 text-center">
                                    <img src="img/team/CEO.png" alt="" height="90px" width="90px">
                                    <h5 class="tit">CEO</h5>
                                    <p>- Gyaneshwar</p>
                
                                </div>
                                <div class="col-md-3 text-center ">
                                    <img src="img/team/man (3).png" alt="" height="90px" width="90px">
                                    <h5 class="tit">Senior Bussiness Analyst</h5>
                                    <p>- Prakash</p>
                
                                    </div>
                                    <div class="col-md-3 text-center">
                                        <img src="img/team/hr.png" alt="" height="90px" width="90px">
                                        <h5 class="tit"> Senior HR</h5>
                                        <p> -Durga</p>
                                    
                                        </div>
                            </div>
                            <div class="row" style="margin-top: 50px">
                                    <div class="col-md-3 col-md-offset-1 text-center">
                                        <img src="img/team/java-developer.png" alt="" height="90px" width="90px">
                                        <h5 class="tit">  Developer</h5>
                                        <p>- Sushmitha</p>
                    
                                    </div>
                                    <div class="col-md-3 text-center">
                                        <img src="img/team/sales-head.png" alt="" height="90px" width="90px">
                                        <h5 class="tit"> Sales Head</h5>
                                        <p>-Satish</p>
                    
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <img src="img/team/intern.png" alt="" height="90px" width="90px" >
                                            <h5 class="tit">Software Intern</h5>
                                            <p>- Suprith</p>
                                        
                                            </div>
                                </div>
                    </div>
                
                    
                    
                </div>
            </section>


            <!-- team end -->
 


	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>

	<script>
        // $(document).ready(function()
        // {
        //     $('#togg').click(function()
        //     {
        //         $('#data').slideToggle(1000);

        //     })
        // })
	</script>  
      <%-include('_footer')%> 
</body>
</html>